.container {
  width: 500px;
  margin: 20px auto 0;
}

.copy {
  text-align: center;
  font-family: 'Raleway';
}

.scratch-area {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  height: 500px;
}