.container {
  width: 500px;
  max-width: 100%;
  margin: 20px auto 0;
}

.copy {
  text-align: center;
  font-family: 'Raleway';
}

.scratch-area {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scratch-area::before {
  content: '';
  padding-bottom: 100%;
  display:block;
}

.scratch-area * {
  height: 100%;
  position:absolute;
  top:0;
}